<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <!--配置SpringMVC -->
    <!-- 1.开启SpringMVC注解模式 -->
    <mvc:annotation-driven></mvc:annotation-driven>

    <!-- 2.静态资源默认servlet配置 -->
    <mvc:default-servlet-handler></mvc:default-servlet-handler>

    <!-- 3.配置jsp，显示ViewResolver
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>-->

    <!-- 4.扫描web相关的控制器bean -->
    <context:component-scan base-package="org.seckill.web"></context:component-scan>
    
    <!-- 
           测试Velocity用 开始 
           与前面的InternalResourceViewResolver冲突
           -->
    <!--规定模板文件的类型和位置-->
       <bean id="velocityConfigurer"
             class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
              <property name="resourceLoaderPath" value="/WEB-INF/templates/" />
              <property name="velocityProperties">
                     <props>
                            <prop key="input.encoding">utf-8</prop>
                            <prop key="output.encoding">utf-8</prop>
                     </props>
              </property>
       </bean>
      <!--配置附加工具，以及将后缀为vm的文件交给下面的Resolver处理-->
       <bean id="velocityViewResolver"
             class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
              <property name="suffix" value=".vm" />
              <property name="contentType" value="text/html;charset=utf-8" />
       </bean>
    
    <!-- 测试Velocity用 结束-->
    
    

</beans>